.container {
  padding: 48px;
}

.box {
  height: 10px;
  display: block;
  background-color: red;
}

.message-error {
  background-color: red;
  color: white;
  padding-inline: 1rem;
  opacity: 0;
  transition: all linear .5s;
}

.message-error.show {
  opacity: 1;
}
