<div class="container">
  <h1>Hi this is my first project</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>{{ task }}</li>
    }
  </ul>
  <hr />
  <h2>{{ 'Hi'.repeat(4) }}</h2>
  <p>The result of 3 + 3 = {{ 3 + 3 }}</p>
  <p>Hi my name is {{ name() }} and i´m {{ age }} years old</p>
  <hr>
  <img [src]="img" alt="">
  <input type="text" [value]="name()">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <p>age: {{ person().age }}</p>
  <img [src]="person().avatar" alt="">
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double Click me</button>
  <p>(Change)</p>
  <input type="number" (change)="inputHandler($event)">
  <p>(KeyDown)</p>
  <input type="text"
  [value]="person().name"
  (keydown)="keyDownHandler($event)"
  >
  <p>(change)</p>
  <input type="text"
  [value]="person().name"
  (change)="changeHandler($event)"
  >
  <hr />
  <h2>SIGNALS</h2>
  <input type="text"
  [value]="name()"
  (change)="changeHandler($event)"
  >
  <p>name: {{ name() }}</p>
  <hr />
  <p>Total: {{ tasks().length }}</p>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{ i }} {{ task }}</li>
    }
  </ul>
  <hr />
  <input type="number"
  [value]="person().age"
  (change)="changeAge($event)"
  >
  @if(1 === 1) {
    <div>
    My content
    </div>
  }
  @if(name() === 'Isco') {
    <div>
    Soy Isco
    </div>
  }
  @if(person().name === 'Isco' && person().age > 18) {
    <div>
    Soy Isco y soy mayor de 18
    </div>
  } @else {
    <div>No soy mayor</div>
  }
  <hr />
  <input type="text"
  [value]="person().name"
  (change)="changeName($event)"
  >
  <div>
  @switch (person().name) {
    @case ('Isco') {
      <p>i am Isco</p>
    }
    @case ('Mattia') {
      <p>I am Mattia</p>
    }
    @case ('Ana') {
      <p>I am Ana</p>
    }
    @default {
      <p>I am no one</p>
    }
  }
  </div>
  <hr />
  <input
  type="color"
  [formControl]="colorControl"
  >
  <p>color: {{ colorControl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorControl.value"></rect>
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthControl">
  <span class="box" [style.width.px]="widthControl.value"></span>
  <hr />
  <p>
    <input type="text" [formControl]="nameControl"> <br />
    <span class="message-error" [class.show]="nameControl.invalid && nameControl.touched">Invalid name</span>
  </p>
  <p>
    <input type="text">
  </p>
</div>
